<form id="addTransactionForm" (ngSubmit)="addTransaction()">
  <h2>Your transaction amount please:</h2>
  <input
    type="number"
    [(ngModel)]="addTransactionInput"
    name="addTransactionInput"
    (ngModelChange)="onAddTransactionInputChange()"
    #addTransactionInputField
    #addTransactionInputFieldModel="ngModel"
    [class.is-invalid]="addTransactionFormValid"
    (blur)="onBlurEvent()"
  />
  <button [disabled]="!addTransactionFormValid">Submit</button>
  <div
    *ngIf="!addTransactionFormValid && addTransactionInputFieldModel.dirty"
    class="error__message"
  >
    Invalid transaction input. Please enter a positiv or negativ number.
  </div>
</form>
