<form id="addTransactionForm" (ngSubmit)="addTransaction()">
  <h2>Your transaction amount please:</h2>
  <input
    type="number"
    [(ngModel)]="addTransactionInput"
    name="addTransactionInput"
    (ngModelChange)="onAddTransactionInputChange()"
    #addTransactionInputField
    #thisInput="ngModel"
    [class.is-invalid]="addTransactionFormValid"
    (blur)="onBlurEvent()"
  />
  <button [disabled]="!addTransactionFormValid">Submit</button>
  <div *ngIf="!addTransactionFormValid && thisInput.dirty" class="error__message">
    {{ transactionErrorMessage }}
  </div>
</form>
