<h1>Angular Blockchain</h1>
<div [ngSwitch]="userChoiceInput">
  <form *ngSwitchDefault id="userChoiceForm">
    <h2>Please choose</h2>
    <p>1: Add a new transaction value</p>
    <p>2: Output the blockchain blocks</p>
    <p>h: Manipulate the chain</p>
    <p>q: Quit</p>
    <input
      type="text"
      [(ngModel)]="userChoiceInput"
      name="userChoiceInput"
      (ngModelChange)="onUserChoiceInputChange()"
      #userChoiceInputField
    />
  </form>
  <form *ngSwitchCase="'1'" id="addTransactionForm" (ngSubmit)="addTransaction()">
    <h2>Your transaction amount please:</h2>
    <input
      type="number"
      [(ngModel)]="addTransactionInput"
      name="addTransactionInput"
      #addTransactionInputField
    />
    <button>Submit</button>
  </form>
  <div *ngSwitchCase="'2'">
    <div *ngFor="let block of blockchain; let i = index">
      <h3>Outputting Block {{i + 1}}</h3>
      <p>{{block | json}}</p>
    </div>
    <button (click)="backToMainMenu()">Back to Main Menu (Esc)</button>
  </div>
</div>
